body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #552583;
}

header {
    background-color: #FDB927;
    color: #ffffff;
    padding: 1rem 1rem;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 1rem 1rem;
}

nav ul li a {
    color: #7700ff;
    text-decoration: none;
}

main {
    padding: 2rem;
}

section {
    margin-bottom: 2rem;
}

footer {
    background-color: #ffea00;
    color: #42ca20;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}
img {
    height: 350;
    width: 500;
}

h2 {
color: #FDB927
}

p {
    color: #ffffff
}
a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}